{% extends 'base.html' %}

{% block custom_header %}
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/highlight/styles/github.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/jquery-ui/jquery-ui.min.css') }}">
{% endblock %}

{% block custom_footer %}
  <script src="{{ url_for('static', filename='plugins/marked/marked.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/highlight/highlight.pack.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/DOMPurify/purify.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/jquery-ui/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/bs-custom-file-input/bs-custom-file-input.js') }}"></script>
  <script src="{{ url_for('static', filename='js/private/utils/md.js') }}"></script>
  <script src="{{ url_for('static', filename='js/private/compete/create.js') }}"></script>
{% endblock %}

{% block content_header %}
  {% with content_header_name = "New Competition" %}
    {% include "__content_header.html" %}
  {% endwith %}
{% endblock %}

{% block custom_control_sidebar %}{% endblock %}

{% block main_content %}
  <div class="row">
    <div class="col-md-12">

      <!-- Custom Error Message -->
      {% if form.errors|length > 0 %}
        {% for key, error in form.errors.items() %}
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-ban"></i>{{ key }}</h5>
            {{ error[0] }}
          </div>
        {% endfor %}
      {% endif %}

      <!-- general form elements disabled -->
      <div class="card card-gray">
        <div class="card-header">
          <h3 class="card-title">Competition Settings</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form role="form" action="{{ url_for("bp_compete.create", _external=True) }}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="row">
              <div class="col-sm-12">
                <!-- text input -->
                <div class="form-group">
                  <label>*Competition Name</label>
                  {{ form.name }}
                </div>
                <!-- /.form group -->
              </div>
            </div>

            <!-- Competition Description for overview -->
            <div class="row">
              <div class="col-sm-6">
                <label>Description for overview(Input)</label>
                {{ form.description_overview }}
              </div>
              <div class="col-sm-6">
                <label>Description for overview(Preview)</label>
                <div id="marked-preview-overview" style="border: solid; border-color: grey; border-left-color: transparent; border-right-color: transparent; border-width: 0.5px;"></div>
              </div>
            </div>

            <!-- Competition Description for evaluation -->
            <div class="row">
              <div class="col-sm-6">
                <label>Description for evaluation(Input)</label>
                {{ form.description_eval }}
              </div>
              <div class="col-sm-6">
                <label>Description for evaluation(Preview)</label>
                <div id="marked-preview-eval" style="border: solid; border-color: grey; border-left-color: transparent; border-right-color: transparent; border-width: 0.5px;"></div>
              </div>
            </div>

            <!-- Competition Description for data -->
            <div class="row">
              <div class="col-sm-6">
                <label>Description for data(Input)</label>
                {{ form.description_data }}
              </div>
              <div class="col-sm-6">
                <label>Description for data(Preview)</label>
                <div id="marked-preview-data" style="border: solid; border-color: grey; border-left-color: transparent; border-right-color: transparent; border-width: 0.5px;"></div>
              </div>
            </div>

            <!-- Competition type and metric -->
            <div class="row">
              <!-- Competition Type -->
              <div class="col-sm-3">
                <!-- radio -->
                <label class="form-radio-label">*Type</label>
                {{ form.metric_type }}
                <!-- /.form group -->
              </div>
              <!-- Score Metric -->
              <div class="col-sm-3">
                <!-- select -->
                <div class="form-group">
                  <label>*Score Metric</label>
                  {{ form.metric_name }}
                </div>
                <!-- /.form group -->
              </div>
            </div>

            <!-- File Upload -->
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="InputFileAnswer">*Answer file (csv)</label>
                  <div class="custom-file">
                    {{ form.file_answer }}
                    <label class="custom-file-label" for="InputFileAnswer">Choose file</label>
                  </div>
                </div>
                <!-- /.form group -->
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="InputFileData">Data for competition (train, test, val, etc...)</label>
                  <div class="custom-file">
                    {{ form.file_data }}
                    <label class="custom-file-label" for="InputFileData">Choose file</label>
                  </div>
                </div>
                <!-- /.form group -->
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6" id="div_expired">
                <!-- Date and time range -->
                <div class="form-group">
                  <label>Competition Expired Date (Blank means no deadline.)</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-clock"></i></span>
                    </div>
                    {{ form.expired_date }}
                  </div>
                  <!-- /.input group -->
                </div>
                <!-- /.form group -->
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <!-- select -->
                <div class="form-group">
                  <label>*Access Level</label>
                  {{ form.access_level }}
                </div>
                <!-- /.form group -->
              </div>
            </div>

            <hr>

            <div class="row">
              <button type="submit" class="btn btn-lg btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <!-- /.card -->
    </div>

  </div>

{% endblock %}