<!DOCTYPE html>
<html>
<head>
  {% include "__head.html" %}
</head>

<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>Ra</b>coon</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    {% for key, error in form.errors.items() %}
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-ban"></i>{{ key }}</h5>
        {{ error[0] }}
      </div>
    {% endfor %}

    <form action="{{ url_for("bp_auth.register", _external=True) }}" method="post">
      {{ form.csrf_token }}
      <div class="form-group has-feedback">
        {{ form.username(size=20) }}
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        {{ form.email(size=120) }}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        {{ form.password(size=20) }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        {{ form.password2(size=20) }}
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8"></div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    {#    <div class="social-auth-links text-center">#}
    {#      <p>- OR -</p>#}
    {#      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using#}
    {#        Facebook</a>#}
    {#      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using#}
    {#        Google+</a>#}
    {#    </div>#}

    <a href={{ url_for("bp_auth.login", _external=True) }} class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

{% include "__js_base.html" %}

</body>

</html>
